:root {
    /* CSS HEX - Used Coolors.co for the palette CSS generation*/
    --snow: #FAF4F2ff;
    --light-coral: #F58D8Dff;
    --picton-blue: #59a5d8ff;
    --yinmn-blue: #2e5077ff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-coral);
    
}

.foot-container {
    display: flex;
    justify-content: space-between;
    height: 6%;
}

.foot-content {
    align-items: left;
    margin: 1.5%;
    margin-left: 10%;
}

.footer-title {
    color: var(--snow);
    font-family: "Coustard", serif;
    font-size: 20px;
}

.social-links {
    align-items: right;
    margin-right: 10%;
    margin-top: 1.5%;
}

/*content in header - logo and navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--snow);
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.header-container {
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
    height: 6%;
}

.logo {
    max-width: 30%;  
}

.navbar {
    list-style-type: none;
}

.nav-option {
    display: inline;
    margin: 20px;
    font-family: "Nunito", sans-serif;
    font-size: x-large;
    font-weight: 600;
}

a.nav-link:link
{
    color: var(--yinmn-blue);
    text-decoration: none;
}

a.nav-link:visited
{
    color: var(--light-coral);
    text-decoration: none;
}

a.nav-link:hover
{
    color: var(--picton-blue);
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .header-container {
        display: inline;
    }
    .logo {
        max-width: 100%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/* heading on home page */
.heading-home {
    display: flex;
    background-image: url(../Resources/erda-estremera-sxNt9g77PE0-unsplash.jpg);
    background-color: var(--snow);
    max-height: 20%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.heading-home-text {
    margin-top: 6%;
    margin-left: 15%;
    margin-bottom: 10%;
}

/* page content */
body {
    background-color: var(--snow);
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: 6%;
    margin-bottom: 15%;
}

h1 {
    color: var(--light-coral);
    font-family: "Caprasimo", serif;
    font-size: 80px;
    font-size: 3.5vw;
}

h2, th {
    color: var(--yinmn-blue);
    font-family: "Coustard", serif;
}

h3 {
    color: var(--picton-blue);
    font-family: "Coustard", serif;
}

p, td {
    color: var(--yinmn-blue);
    font-family: "Nunito", sans-serif;
}

.container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1500px) {
    body {
        margin-top: 20%;
    }
}

/*index*/
.mission {
    display: flex; 
    justify-content: space-between;
}

.mission-text {
    text-align: left;
    padding-right: 10px;
}

.mission-image {
    height: 500px;
    margin-right: 5%;
    margin-left: 5%;
}

.buttons-home {
    display: flex;
    margin: auto;
    width: 50%;
}


/* services page */
.heading-services {
    margin-top: 6%;
    margin-left: 15%;
}

.tables {
    margin: 6%;
    width: 100%;
    display: block;
}

.service-name {
    font-family: "Coustard", serif;
    color: var(--picton-blue);
    text-align: center;
}
.price {
    text-align: center;
}

.service-options {
    margin: 2%;
}

.addon-options {
    margin: 2%;
}

.package-options{
    margin: 2%;
}


td {
    padding: 0.5%;
    width: 400px;
}

th {
    text-align: center;
    padding: 1%;
}

.linktobooking {
    margin: auto;
    width: 50%;
}

/*booking page*/
.heading-booking {
    margin-top: 6%;
    margin-left: 15%;
}

.labelbooking {
    margin-top: .5%;
    margin-bottom: .5%;
    font-family: "Nunito", sans-serif;
    font-size: large;
    color: var(--yinmn-blue);
}

.inputbooking {
    margin-top: .5%;
    margin-bottom: .5%;
}

/*gallery page*/

.heading-gallery {
    margin-top: 6%;
}

.container-row {
    display: flex;
}

.gallery {
    flex: 100%;
    max-width: 100%;
    margin: 2%;
}

.gallery-img {
    width: 100%;
}

.image-caption {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .container-row {
        display: block;
    }
    .gallery {
        max-width: 100%;
    }
}

/*contact page */
#contact-container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
}

.contact-form {
    border: 10px solid var(--yinmn-blue);
    border-radius: 5px;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-top: 1%;
    width: 40%;
    background-color: var(--light-coral);
    margin: 1%;
}

.labelcontact {
    color: var(--snow);
    font-family: "Nunito", sans-serif;
    font-size: larger;
    margin-top: 1%;
    margin-bottom: 3%;
}

.inputcontact {
    margin-top: 1%;
    margin-bottom: 3%;
}

textarea {
    width: 600px; 
    height: 200px;
}

.map {
    align-items: center;
}

@media screen and (max-width: 1500px) {
    
    #contact-container {
        display: inline;
        justify-content: space-between;
    }

    .content {
        margin: 4%;
    }

    .contact-form {
        margin: 4%;
    }

    textarea {
        width: 350px;
    }
}